<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CRUD app</title>
        <link rel ="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Hi, this is a cars reference app. Use the following commands:</h1>
        <ul>
            <li>GET /allCars - Getting JSON with all cars from the database</li>
            <li>GET /allCarsByBrand?brand=*</li>
            <li>GET /allCarsByColor?color=*</li>
        </ul>
        <ul>
            <li>GET /someCar?number=* - Getting a JSON car by its number</li>
            <li>DELETE /cars/delete?number=* - Deleting a car by its number</li>
            <li>POST /cars/add - Adding a car to the database</li>
        </ul>
        <ul>
            <li>GET /colors - get all colors from database</li>
            <li>GET /brands - get all brands from database</li>
        </ul>
    </body>
</html>